.button {
  padding: 16px 21.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  &--primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: var(--clr-primary-light);
    }

    &:focus-visible {
      background-color: var(--clr-primary-light);
      outline: none;
    }

    &:active {
      background-color: var(--clr-primary-shade);
    }

    &:disabled {
      background-color: var(--clr-gray-5);
      pointer-events: none;
    }
  }

  &--skeleton {
    color: var(--clr-primary);
    pointer-events: none;
    animation: skeleton 800ms ease-in-out infinite alternate;
  }

  &--secondary {
    padding: 14px 19.5px;
    color: var(--clr-primary);
    background-color: var(--clr-white);
    border: 2px solid var(--clr-primary);
    transition: background-color 100ms ease-in-out,
      border-color 100ms ease-in-out, color 100ms ease-in-out;

    &:hover {
      background-color: var(--clr-primary-lighter);
      border-color: var(--clr-primary-light);
    }

    &:focus-visible {
      background-color: var(--clr-primary-lighter);
      border-color: var(--clr-primary-light);
      outline: none;
    }

    &:active {
      background-color: var(--clr-primary-lightest);
      border-color: var(--clr-primary);
    }

    &:disabled {
      color: var(--clr-gray-5);
      background-color: var(--clr-white);
      border-color: var(--clr-gray-5);
      pointer-events: none;
    }
  }

  &__icon {
    & > svg {
      display: block;
    }
  }
}
